@font-face {
    font-family: NexaHeavy;
    src: url(Nexa_Bold.otf);
}

@font-face {
    font-family: NexaRegular;
    src: url(Nexa_Light.otf);
}

*{
    box-sizing: border-box;
}

$color-orange: #f26c4f;

a{
    color: #fff;
    text-decoration: none;
}

h3, h2, h4, p, hr, ul, li{
    margin: 0;
    padding: 0;
}

h3{
    font-size: 24px;
}

h4{
    font-size: 18px;
}

body{
    margin: 0;
    padding: 0;
    font-family: Arial;
    background: #e9e9e9;
    font-size: 12px;
}

.main-container{
    margin: 0 auto;
    width: 940px;
}

.logo-background{
    font-family: NexaHeavy;
    background: #373737;
    color: #fff;
    .main-container{
        display: flex;
        align-items: center;
    }
    .squarelogo{
        font-family: NexaHeavy;
        background: $color-orange;
        font-size: 36px;
        width: 80px;
        height: 66px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 10px;
        &:before{
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            border: 15px solid $color-orange; 
            right: -29px;
            top: 50%;
            transform: translate(0,-50%);
            border-bottom-color: transparent;
            border-top-color:transparent;
            border-right-color: transparent;
        }
    }
    .logo-name{
    font-family: NexaRegular;
    margin-left: 23px;
    color:  #ffffff;
    font-size: 18px;
    }
}

.nav-background{
    display: flex;
    align-items: center;
    background-color:  #474747;
    height: 69px;
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    // line-height: 65px;
    ul{
        display: flex;
        li{
            display: block;
            list-style: none;
            padding: 0 30px 0 30px;
            border-left: 1px solid gray;
            &:first-child{
                border: 0;
            }
        }
        .nav-active{
            border-bottom: 4px solid $color-orange;
            padding-bottom: 24px;
        }
    }
}

header{
    .search-social-wrapper{
        margin: 15px 0 15px 0;
        height: 40px;
        display: flex;
        justify-content: space-between;
    }
    input[type="search"]{
        width: 300px;
        height: 46px;
        padding: 20px;
        color:  #959595;
        font-size: 12px;
        font-weight: 700;
        letter-spacing: -0.12px;
        line-height: 71px;
        text-align: left;
        border: 0;
        background-image: url(../img/clock.png);
        background-size: 23px 23px;
        background-repeat: no-repeat;
        background-position-y: center;
        background-position-x: 265px;
    }
    .social-wrap{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 300px;
        a{
            color:  #8f8f8f;
            font-size: 12px;
            line-height: 71px;
        }
        i{
            margin-right: 8px;
        }
    }
    .wrapper-main-screen{
        display: flex;
        justify-content: space-between;
        .main-pic{
            background-image: url(../img/Layer-4.jpg);
            width: 630px;
            height: 390px;
            position: relative;
            .block-on-photo{
                background: rgba(0, 0, 0, 0.5);
                position: absolute;
                bottom: 0;
                right: 0;
                width: 371px;
                height: 62px;
                color: #fff;
                display: flex;
                align-items: center;
                padding-left: 30px;
                font-size: 16px;
            }
        }
        .grey-block{
            background-color:  #373737;
            width: 310px;
            padding: 45px;
            position: relative;
            &:before{
                content: '';
                border-left: 9px solid $color-orange;
                position: absolute;
                height: 390px;
                top: 0;
                left: 0;
            }
            &:after{
                content: '';
                position: absolute;
                width: 0;
                height: 0;
                border: 15px solid $color-orange;
                right: 272px;
                top: 15%;
                transform: translate(0,-50%);
                border-bottom-color: transparent;
                border-top-color: transparent;
                border-right-color: transparent;
            }
            h3{
                color:  #ffffff;
                font-size: 19px;
                font-weight: 700;
                letter-spacing: -0.19px;
                line-height: 24px;
                padding-right: 40px;
            }
            p{
                color:  #a7a7a7;
                margin-top: 17px;
                line-height: 23px;
            }
            .data{
                display: flex;
                justify-content: flex-end;
                align-items: center;
                color:  #a7a7a7;
                font-size: 12px;
                font-weight: 400;
                margin-top: 17px;
                i{
                    font-size: 18px;
                    margin-right: 8px;
                }
            }
        }
    }
}

.text-wrap{
    padding: 25px 30px 42px 30px;
}


section{
    margin-top: 15px;
    .main-container{
        display: flex;
        justify-content: space-between;
        .block-item{
            width: 300px;
            background: #fff;
            position: relative;
            overflow: hidden;
            box-shadow: 0px 1px 0px 0px #d3d3d3;
            &:before{
                position: absolute;
                content: '';
                width: 160px;
                height: 100px;
                transform: rotate(45deg);
                background: $color-orange;
                top: -50px;
                right: -79px;
            }
            &:after{
                position: absolute;
                content: '+';
                font-size: 35px;
                color: #fff;
                top: 1px;
                right: 7px;
            }
        .text-wrap{
            p{
                margin-top: 25px; 
                line-height: 24px;
            }
        }
    }
}
}

@keyframes moving-tape{
    70%{
        left: -4%;
        opacity: 0;
    }
    100%{
        left: -8%;
        opacity: 1;
    }
}

#content{
    .main-content{
        width: 620px;
        .new-item{
            background-color:  #ffffff;
            width: 622px;
            margin-bottom: 13px;
            border-left: 4px solid $color-orange;
            box-shadow: 0px 1px 0px 0px #d3d3d3;
            position: relative;
            &:before{
                    content: '';
                    background-image: url(../img/movie-tape.png);
                    width: 31px;
                    height: 25px;
                    background-repeat: no-repeat;
                    position: absolute;
                    top: 40%;
                    left: 0%;
                    transition: 0.5s;
                    opacity: 0;
                }
            &:hover{
                background: $color-orange;
                color: #fff;
                border-left: 4px solid #ce4e32;
                transition: 0.2s;
                .info-wrap{
                    div{
                        color: #fff;
                        border-left: 1px solid #fff;
                        transition: 0.2s;
                    }
                }
                p{
                    color: #fff;
                }
                &:before{
                    animation-name: moving-tape;
                    animation-duration: 0.3s;
                    animation-fill-mode: forwards;
                    animation-timing-function: linear;
                }
            }
            .text-wrapper{
                padding: 32px 20px 32px 40px;
            }
            p{
                font-size: 14px;
                color:  #707070;
                font-size: 14px;
                font-weight: 400;
                line-height: 21px;
            }
            .info-wrap{
                display: flex;
                font-family: Tahoma;
                color:  #8f8f8f;
                font-size: 10px;
                font-weight: 400;
                letter-spacing: 0.1px;
                line-height: 12px;
                margin: 7px 0 14px 0;
                div{
                    padding: 0 20px 0 20px;
                    border-left: 1px solid #8f8f8f;
                    &:first-child{
                        padding-left: 0px;
                        border: 0px;
                    }
                }
            }
        }
        .ni-small{
            padding: 18px 20px 4px 40px;
            margin: 7px 0 0 0;
        }
        .read-more{
            color:  #bdbdbd;
            height: 96px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-size: 14px;
            span{
                text-transform: uppercase;
                font-weight: 700;
                letter-spacing: 0.7px;
            }
            i{
                font-size: 25px;
                margin-top: 11px;
            }
        }
        .blog-article{
            background-color: #ffffff;
            border: 0;
            color:  #707070;
            font-size: 14px;
            line-height: 24px;
            margin-bottom: 0px;
            overflow: hidden;
            margin-top: 30px;
            .text-wrapper{
                padding: 32px 20px 32px 40px;
            }
            h2{
                font-size: 30px;
                padding-bottom: 15px;
                line-height: 35px;
            }
            p{
                font-size: 14px;
                line-height: 24px;
            }
            span{
                color: $color-orange;
            }
            &:last-child{
                margin-bottom: 123px;
            }
            .bold-text{
                font-weight: 700;
            }
        }
        .first-art{
            margin-top: 0;
        }
        .data-like-bar{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px 26px 15px 26px;
            background-color:  #efefef;
            box-shadow: 0px 1px 0px 0px #d3d3d3;
            div:nth-child(1){
                color:  #a7a7a7;
                font-size: 12px;
                font-weight: 400;
                margin-top: 17;
            }
            div:nth-child(2){
                color:  #a2a2a2;
                font-size: 12px;
                i{
                    color:  $color-orange;
                    font-size: 12px;
                }
            }
        }
    }
    .side-content{
        width: 300px;
        .block-item-grey{
            background-color:  #373737;
             color: #fff;
             h2{
                font-size: 24px;
             }
             p{
                margin-top: 25px;
            }
        }
        .block-item-opacity{
            color:  #a7a7a7;
            font-size: 12px;
            h2{
                color: #474747;
                font-size: 19px;
            }
            p{
                font-weight: 400;
                line-height: 23px;
                margin-top: 21px;
            }
            .data-op{
                margin: 23px 0 23px 0;
            }
        }
        .op-text-wrap{
            padding: 25px 0px 0 30px;
        }
        hr{
            background-color:  #a7a7a7;
            box-shadow: 0px 1px 0px 0px #ffffff;
        }
        .block-news-preview{
            background-color:  #ffffff;
            box-shadow: 0px 1px 0px 0px #ffffff;
            border-left: 3px solid #cacaca;
            display: flex;
            align-items: center;
            height: 44px;
            margin-top: 7px;
            span{
                color:  #474747;
                font-size: 16px;
                font-weight: 700;
                line-height: 36px;
                padding: 0 11px 0 22px;
            }
            small{
                color:  #a7a7a7;
                font-size: 12px;
                font-weight: 400;
                line-height: 23px;
            }
            .autor{
                color:  #a7a7a7;
                font-size: 12px;
                font-weight: 400;
                line-height: 23px;
            }
        }
    }
}


.new-item:hover .new-item::after{
    animation-timing-function: linear;
    animation-duration: 3s;
    animation-name: move-tape;
}

footer{
    background-color:  #373737;
    height: 140px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    .main-container{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    p{
        color:  #7e7e7e;
        font-size: 11px;
        line-height: 21px;
    }
    .footer-links{
        width: 315px;
        ul{
            display: flex;
              justify-content: space-between;
            list-style: none;
            font-size: 12px;
            line-height: 41px;
        }
    }
}
